<%= form_for @post do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %><br>
  
    <%= f.label :content %>
    <%= f.text_field :content %><br>
  
    <label>New Category</label>
    <%= f.fields_for :categories, @post.categories.build do |cf| %>
      <%= cf.text_field :name %>
    <% end %>
  
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
    <br>
  
    <%= f.submit %>
  
  <% end %>